@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype");

  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Medium.ttf) format("truetype");

  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Bold.ttf) format("truetype");

  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url(../assets/fonts/Gilroy-Regular.ttf) format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1220px !important;
  }
}

.header {
  background: #333333;
}

.navbar {
  padding: 19px 20px 18px !important;
}

.navbar-logo {
  margin-right: 68px;
}

.nav-item {
  padding-right: 30px;
  padding-left: 30px;
  font-family: Gilroy, sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.01em;
}

.nav-link {
  color: #fcfcfc !important;
  text-decoration: none;
  padding: 0 !important;
}

.nav-link:hover {
  color: #fcfcfc !important;
  opacity: 0.8;
}

.dropdown-item {
  font-size: 14px;
}

.nav-icons {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
}

.nav-icons__button {
  cursor: pointer;
}

main {
  font-family: Poppins, sans-serif;
}

.head {
  position: relative;
}

.vector__image {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 725px;
}

.head__background {
  background-image: url("../assets/images/bgr1.jpg");
  background-size: cover;
  height: 21px;
}

.head__container {
  background-image: url("../assets/images/bgr2.jpg");
  background-size: cover;
}

.head__content {
  padding: 36px 20px 30px;
}

.head__media {
  display: grid;
  justify-content: end;
  grid-gap: 26px;
}

.head__media_link {
  z-index: 2;
}

.head__block_text {
  font-weight: bold;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.01em;

  color: #ffffff;
}

.head__block_line {
  width: 46px;
  background: #ffffff;
  border: 3px solid #ffffff;
  margin-bottom: 10px;
}

.head__block_title {
  font-weight: normal;
  font-size: 38px;
  line-height: 57px;
  letter-spacing: 0.01em;

  color: #ffffff;
}

.head__block_button {
  outline: none;
  border: none;
  cursor: pointer;
  background: #ffffff;
  width: 260px;
  height: 50px;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;

  color: #333333;
  margin-bottom: 10px;
}

.row img {
  z-index: 2;
}

.row__bottom {
  justify-content: flex-end;
}

.head__block_bottom {
  margin-bottom: 47px;
  z-index: 2;
}

.head__block_desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  max-width: 440px;
  color: #ffffff;
}

.head__block_read {
  width: 260px;
  height: 50px;
  border: 2px solid #ffffff;
  background: transparent;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.head-arrow {
  z-index: 2;
}

.products {
  background-image: url("../assets/images/bg3.jpg");
  background-size: cover;
}

.products__container {
  padding: 80px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-column-gap: 15px;
}

.products__item_photo {
  width: 100%;
  height: auto;

  margin-bottom: 20px;
}

.products__item_desc {
  font-weight: bold;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.01em;

  color: #333333;
  text-align: center;
}

.products__item_line {
  background: #333333;
  width: 46px;
  border: 3px solid #333333;
  margin: 0 auto 33px;
}

.features {
  position: relative;
}

.features__blocks {
  background: #333333;
  height: 100px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.features__block {
  position: relative;
  border-right: 2px solid #ffffff;
  height: 71px;
  padding-top: 10px;
}

.features__block:last-child {
  border-right: none;
}

.features__block_text {
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2px;
}

.features__block_number {
  font-weight: bold;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2px;
}

.features__products {
  padding: 126px 0 80px 0;
}

.carousel-cell {
  height: 400px;
  margin-right: 25px;
  overflow: hidden;
}

.features__item {
  max-width: 274px;
  width: 100%;
}

.features__item_photo {
  background: #f6f5f3;
  padding: 25px 27px;
  margin-bottom: 14px;
}

.features__photo {
  width: 100%;
  height: auto;
}

.features__item_title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;

  color: #333333;
}

.features__item_desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;

  color: #333333;
}

.flickity-page-dots {
  bottom: -19px !important;
}

.flickity-page-dots .dot {
  width: 13px !important;
  height: 13px !important;
  background: #c4c4c4 !important;
  border: 2px solid transparent !important;
  opacity: 0.4 !important;
}

.flickity-page-dots .dot.is-selected {
  width: 13px !important;
  height: 13px !important;
  background: transparent !important;
  border: 2px solid #333333 !important;
  opacity: 1 !important;
}

.flickity-button {
  background: transparent !important;
}

.flickity-prev-next-button {
  width: 20px !important;
  height: 20px !important;
  top: 100% !important;
  transform: translate(0) !important;
}

.flickity-prev-next-button.next {
  right: 40% !important;
}

.flickity-prev-next-button.previous {
  left: 40% !important;
}

@media (max-width: 992px) {
  .nav-icons {
    display: none;
  }

  .nav-item {
    width: 100%;
    border-bottom: 1px solid #fcfcfc;
    padding: 10px;
  }

  .features__block_text {
    font-size: 12px;
  }

  .features__block_number {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .head__block_title {
    font-size: 28px;
    text-align: center;
  }

  .head__block {
    max-width: 100% !important;
    flex: 100% !important;
    margin: 20px;
  }

  .head__block_bottom {
    margin: 20px;
  }

  .row_bottom {
    justify-content: flex-start;
  }

  .head__block_desc {
    max-width: 100%;
  }

  .features__item {
    max-width: 220px;
  }

  .features__item_title,
  .features__item_desc {
    font-size: 12px;
  }

  .carousel-cell {
    height: 320px;
  }
}

@media (max-width: 576px) {
  .media__hidden {
    display: none;
  }

  .features__blocks {
    grid-template-columns: 1fr 1fr;
  }

  .features__block:nth-of-type(2n) {
    border-right: none;
  }

  .flickity-prev-next-button.next {
    right: 30% !important;
  }

  .flickity-prev-next-button.previous {
    left: 30% !important;
  }
}

@media (max-width: 489px) {
  .products__container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
